<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://es-la.facebook.com/ariel.ocampo.9210/"><img src="../../../assets/icons/facebook.png" id="facebook"></a>
            <a href="https://www.instagram.com/ocampo_martinariel/"><img src="../../../assets/icons/instagram.png" id="instagram"></a>
            <a href="https://dirección red social github"><img src="../../../assets/icons/github.png" id="github"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INICIAR SESSION</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESSION</button>
        </div>

    </div>

</div>

